GATEWAY_PROFILE=dev
GATEWAY_PORT=8080
GATEWAY_SECRET=some-random-secret-that-i-will-change-in-production
GATEWAY_CACHE_HOST=gateway-cache
GATEWAY_CACHE_PORT=6380

RATE_LIMIT_AUTHENTICATED=100
RATE_LIMIT_AUTHENTICATED_BURST=150
RATE_LIMIT_UNAUTHENTICATED=5
RATE_LIMIT_UNAUTHENTICATED_BURST=10

CACHE_TTL_SECONDS=900

AUTH_PROFILE=dev
AUTH_SERVICE_HOST=auth-service
AUTH_SERVICE_PORT=8082
AUTH_COOKIE_DOMAIN=localhost
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=None
GITHUB_REDIRECT_URI=http://localhost:3000/auth/github/callback
AUTH_DB_HOST=auth-db
AUTH_CACHE_HOST=auth-cache
AUTH_ACCESS_TOKEN_MAX_AGE=300
AUTH_REFRESH_TOKEN_MAX_AGE=1800

USER_PROFILE=dev
USER_SERVICE_HOST=user-service
USER_SERVICE_PORT=8081
USER_DB_HOST=user-db
USER_CACHE_HOST=user-cache

POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=password

REDIS_PORT=6379

FLYWAY_USER=flyway_user
FLYWAY_PASSWORD=password

APP_USER=app_user
APP_PASSWORD=password

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

AWS_DEFAULT_REGION=sa-east-1
AWS_ACCESS_KEY_ID=asdasd7ad8as7d8as7d88da98d7
AWS_SECRET_ACCESS_KEY=a87sd9a87da987dss9a8d9a8d897a
COGNITO_JWKS_URL=cognito-jwks-url
COGNITO_JWT_ISSUER=cognito-jwt-issuer

GITHUB_CLIENT_ID=8as7da9s87da9s87d9
GITHUB_CLIENT_SECRET=asda9d76a9s87d6a97d869d78s6a9

KEYCLOAK_PORT=8180
KC_SERVER_URL=http://keycloak:8180
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=hermes
KEYCLOAK_CLIENT_ID=hermes-app
KC_JWKS_URL=http://keycloak:8180/realms/hermes/protocol/openid-connect/certs
KC_JWT_ISSUER=http://keycloak:8180/realms/hermes

FRONTEND_URL=http://localhost:3000

NATS_HOST=nats
NATS_PORT=4222

SCYLLA_HOST=scylladb
SCYLLA_PORT=9042

MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

WS_GATEWAY_HOST=ws-gateway
WS_GATEWAY_PORT=8083

CHAT_SERVICE_HOST=chat-service
CHAT_SERVICE_PORT=8084
CHAT_CACHE_HOST=chat-cache
CHAT_CACHE_PORT=6384

MEDIA_SERVICE_HOST=media-service
MEDIA_SERVICE_PORT=8085

ENVOY_HTTP_PORT=80
ENVOY_WS_PORT=443

