**/secrets.env

*.bak
*.backup

*.tmp
*.swp
*~

.DS_Store
.idea/
.vscode/

*.yaml.orig

kustomize

infrastructure/k8s/shared/observability/base/charts/kube-prometheus-stack-56.6.0/
infrastructure/k8s/shared/observability/base/charts/loki-stack-2.10.1/
